.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 25px 25px;
    margin-bottom: 15px;

}
.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 22px;
}
.screen-header__plus{
    background-color: tomato;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: 45px;
}

@keyframes rotateGear{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover{
    animation: rotateGear 2s linear infinite;
}